<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.microsoft.mytrips" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:theme="@style/MyTheme" android:label="MyTrips" android:icon="@drawable/icon">
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
	</application>
</manifest>